<article>
    <div>
        
        <figure>
            
            <div>
              <blockquote>
                <p>{Title}</p>
                <p>written on {date}</p>
                <p>words : {wordCount}, reading time {readingTime}mins</p>
                <img src="https://picsum.photos/1280/720/" alt="random image">
                <p>
                  {Summary}....[read more]
              </p>                
                <p>
                    {Content}
                </p>
              </blockquote>
              <figcaption >
                <a href="{sitePermalink}">Go back home</a>
                <div >
                  All Right Reserved
                </div>
                <div >
                    {author} : <a href="{sitePermalink}">{Site}</a>
                </div>
              </figcaption>
            </div>
          </figure>
    </div>
</article>
