<article>
    <div>
        
        <figure >
            <img src="/main.jpg" alt="" width="384" height="512">
            <div>
              <blockquote>
                <p>Ivory</p>
                <p>Made with love.</p>
                <p>
                    {Content}
                </p>
              </blockquote>
              <figcaption>
                <a href="{listPermalink}">Blogs</a>
                <p>Updated on {date}</p>
                <div >
                  {Title}
                </div>
                <div>
                  Allec Scott : <a href="{sitePermalink}">{Site}</a>
                </div>
              </figcaption>
            </div>
          </figure>
    </div>
</article>
