<body class="text-center">
<div class=" text-slate-900 font-Nunito mx-auto max-w-md text-center mt-28 shadow-lg  bg-slate-100 p-20 rounded-lg " >
<p class="text-3xl font-bold underline mb-10">Blogs.</p>
[loop.start]
<a href="{itemlocation}"><div class="font-bold mx-auto hover:bg-slate-900 hover:shadow-xl rounded-md p-2 my-10 transition-all duration-300 hover:text-white"><p class=" font-bold" href="{itemlocation}">{item}</p><p class="mx-auto font-bold font-PatrickHand text-sm">written  on {date}</p></div></a>
[loop.end]
</div>
</body>
</html>