<article class="text-center">
    <div  class="text-slate-700 mx-auto font-Neucha max-w-3xl rounded mt-20 bg-white mb-20" >
        
        <figure class="bg-slate-100 rounded-2xl p-8 ">
            
            <div class="pt-6 text-center space-y-4">
              <blockquote>
                <p class="text-3xl mb-2 font-BebasNeue font-bold">{Title}</p>
                <p class="text-lg font-PatrickHand underline mb-10 font-medium">written on {date}</p>
                <p class="text-sm font-PatrickHand underline mb-10 font-medium">word count - {wordCount}, reading time {readingTime}mins</p>
                <img class="mx-auto rounded-md shadow mb-20" src="https://picsum.photos/1280/720/" alt="random image">
                <p class="text-xs font-bold font italic">
                  {Summary}....[read more]
              </p>                
                <p class="text-lg font-medium">
                    {Content}
                </p>
              </blockquote>
              <figcaption class="font-medium mb-20 ">
                <a class="p-2 rounded-3xl border hover:bg-blue-300 hover:text-white " href="{sitePermalink}">Go back home</a>
                <div class="text-sky-500 mt-10">
                  All Right Reserved
                </div>
                <div class="text-slate-700 font-BebasNeue">
                    {author} : <a class="text-slate-500" href="{sitePermalink}">{Site}</a>
                </div>
              </figcaption>
            </div>
          </figure>
    </div>
</article>